<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_name %><br>
    <%= f.text_field :task_name %>
  </div>
  <div class="field">
    <%= f.label :task_desc %><br>
    <%= f.text_field :task_desc %>
  </div>





    <div class="field">
      <%= f.label :completed %><br>
      <%= f.check_box :completed %>
    </div>
    <div class="field">
      <%= f.label :job_id %><br>
      <%= f.text_field :job_id %>
    </div>







  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
