<!DOCTYPE html>
<html>
<head>
  <title>Hack3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <%= link_to "Job", jobs_path %>
  <%= link_to "Employee", employees_path %>
  <%= link_to "Task", tasks_path %>

</p>


<%= yield %>

</body>
</html>
